{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid ">
    <!-- Фоновое изображение на весь экран -->
    <div class="row">
        <div class="col-md-12 background-image">
            <!-- Заголовок и слоган -->
            <div class="jumbotron jumbotron-fluid text-white text-center">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">E3Bomaas</h1>
                        <p class="lead">Kebab - Smakowita Podróż do Orientu!</p>
                    </div>
                </div>
                <!-- Заголовок и слоган -->
                <div class="jumbotron jumbotron-fluid text-white text-center">
                    <div class="container">
                        <p class="lead ">Odwiedź naszą niezwykłą kebabową restaurację - pierwszą w Warszawie! Oferujemy
                            niepowtarzalny smak Orientu, który rozgrzeje Twoje podniebienie. Przyjdź i odkryj unikalne
                            połączenie tradycyjnych przypraw i świeżych składników w naszych autorskich kebabach.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Блоки с товарами -->
        <div class="row mt-5">
            {% for product in products %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="{{ MEDIA_URL }}{{ product.picture.url }}" class="card-img-top"
                             alt="{{ product.title }}" height="100%">

                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">{{ product.price }}</p>
                            <a href="#" class="btn btn-primary">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .navbar {
            margin-bottom: -20px; /* Устанавливаем отрицательный отступ для навбара */
        }

        .background-image {
            margin-top: -20px; /* Устанавливаем отрицательный отступ для изображения */
            height: calc(100vh + 20px); /* Учитываем отрицательный отступ */
            background-image: url({% static 'images/other/first_background.jpg' %});
            background-size: cover;
            background-position: center;
        }
        

        .jumbotron {
            background-color: rgba(0, 0, 0, 0.0);
        }
    </style>
{% endblock %}
